

/**  About Class and subs 
 * **************************/

.about{
	padding:2px;
	padding-left:40px;
	padding-top:15px;
	padding-right:40px;
	padding-bottom: 13px
	border:0px solid #CCC;
	width:0 auto;
	margin:0px auto;
}


#aboutUs_main {
	font-size: 50px;
	padding: 2px;
	padding-left:25px;
	padding-top:8px;
	padding-right:15px;
	padding-bottom: 8px
	text-align:center;
	height: 60px;
	font-family: LongTime;
}

#aboutUs_Mcontent {
	font-size: 16.5px;
	padding: 6px;
	padding-left:25px;
	padding-top:8px;
	padding-right:15px;
	padding-bottom: 8px
	text-align:center;
	height: 94px;
}

#aboutUs_body {
	font-size: 14.8px;
	padding: 6px;
	padding-left:25px;
	padding-top:8px;
	padding-right:15px;
	padding-bottom: 8px
	height: 94px;
}

#aboutUs_people {
	width:100%;	
	height:620px;
   border:0px;
	padding: 20px;
	padding-left: 3%;
	padding-right: 3%;
}

#userProfile {
}

.userProfile1, .userProfile2, .userProfile3, .userProfile4, .userProfile5 {
	float:left;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width:16%;
	margin-left:11px;
	height: 640px;
	background-color: white;
	border: 0px;
    position: relative;   
	overflow: hidden;
	padding: 11px;
	/*background-color: #FDFDFD;*/
	padding-top: 20px;
    position: static;   
	overflow: hidden;
	background-color: #FDFDFD;
	font-family: LongTime;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-moz-box-shadow: 0 0 10px #F7F7F7;
	-webkit-box-shadow: 0 0 10px #F7F7F7;
	box-shadow: 0 0 10px #F7F7F7;
}

.userProfile1:hover, .userProfile2:hover, .userProfile3:hover, .userProfile4:hover, .userProfile5:hover{
	background-color: #FFDADA;
}
/*************************************************************************************************************************************************************
************************************************************************ USER PROFILE ANIMATIONS *************************************************************/


#userProfileImage {
	-webkit-border-radius: 250px;
	height: 200px;
	width: 200px ;
	/*http://designshack.net/articles/css/mastering-mouse-enter-and-exit-events-with-css-transitions/*/
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
}

#userProfileImage:hover {
	height: 200px;
	width: 200px ;
	
	/*http://designshack.net/articles/css/mastering-mouse-enter-and-exit-events-with-css-transitions/*/
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;

   transition:0.50s;
	
}
#aboutBlock {
	background: red;
	text-align: center;
	height: px;
	padding: 5px;
	opacity: 0.75;
	color: white;
	font-weight: bold;
}